<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mg.blog.system.mapper.FieldMapper">

    <!-- 表名 -->
    <sql id="tableName">
        tbl_field
    </sql>

    <!-- 字段定义 sql -->
    <sql id="fields">
        id, create_time, update_time, user_id, resource_id, name, type, sort
    </sql>

    <!-- 结果数据映射-->
    <resultMap id="configMap" type="org.mg.blog.system.dto.Field">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="user_id" property="userId"/>
        <result column="resource_id" property="resourceId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <!-- 查询所有数据 -->
    <select id="queryByResourceId" resultType="org.mg.blog.system.dto.Config" resultMap="configMap">
        select <include refid="fields"/>
        from <include refid="tableName"/>
        where resource_id = #{resourceId}
    </select>
</mapper>

