<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mg.blog.system.mapper.ResourceMapper">

    <sql id="relTableName">
        tbl_role_resource role_res
    </sql>

    <sql id="resourceTableName">
        tbl_resource res
    </sql>

    <!-- table id -->
    <sql id="tableField">
        res.id,
        res.create_time,
        res.update_time,
        res.name,
        res.type,
        res.url,
        res.permission,
        res.parent_id,
        res.sort,
        res.external,
        res.available,
        res.icon
    </sql>

    <!-- query top resources by userId -->
    <select id="queryTopResourcesByUserId" resultType="org.mg.blog.system.dto.Resource">
        select
        <include refid="tableField"/>
        from
        <include refid="relTableName"/>
        left join
        <include refid="resourceTableName"/>
        on role_res.resources_id = res.id
        where role_res.role_id = #{roleId}
        and res.type = 'menu'
        and res.parent_id = 0
        order by res.sort
    </select>

    <!-- query sub resources by parentId and roleId -->
    <select id="queryResourcesByParentIdAndRoleId" resultType="org.mg.blog.system.dto.Resource">
        select
        <include refid="tableField"/>
        from
        <include refid="relTableName"/>
        left join
        <include refid="resourceTableName"/>
        on role_res.resources_id = res.id
        where role_res.role_id = #{roleId}
        and res.type = 'menu'
        and res.parent_id = #{parentId}
        order by res.sort
    </select>
</mapper>

